body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1A1A1B;
}

.feed-container {
    width: 50%;
    margin: 20px auto;
    background-color: #2C2F33;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: white;
}

.post {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #2C2F33;
}

.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 60%;
    margin-right: 10px;
    object-fit: cover;
}

.post-content {
    margin-bottom: 10px;
}

.post-image {
    width: 50%;

    max-height: 400px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.post-footer {
    color: #777;
    font-size: 14px;
}
a{
    text-decoration: none;
    color: white;

}
